<% content_for :title do %>
  Entrar
<% end %>

<%= form_with model: resource,
                scope: resource_name,
                url: session_path(resource_name),
                local: true,
                data: { turbo: false, turbo_frame: :_top },
                html: { class: 'space-y-6' }  do |f| %>

<div class='ml-5 space-y-3'>
    <%= f.email_field :email,
      placeholder: 'Email',
      class: 'w-full -ml-10 text-center pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500' %>

   <%= f.password_field :password,
      autofocus: true,
      placeholder: 'Senha',
      class: 'w-full -ml-10 text-center pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500' %>
</div>
  <%= f.submit 'Entrar', class: 'w-36 bg-indigo-300 hover:bg-indigo-500 p-3 rounded rounded-lg text-white' %>
<div class='mb-3'>
  <p>Não tem uma conta? <%= link_to 'Registre-se',
                      new_user_registration_path,
                      class: 'text-indigo-500' %></p>
  <p>Esqueceu sua senha? <%= link_to 'Recuperar senha',
                     new_user_password_path,
                    class: 'text-indigo-500' %></p>
</div>
<% end %>
